// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.footer {
    padding: 20px 0 20px 0;
    margin: auto;
    width: 50%;
    text-align: center;
  }